<html>
  <head>
    <style>
      body {
        background: black;
        font-family: arial;
        text-align: center;
        color: white;
      }
      table {
        background: white;
        color: black;
        margin: auto;
        margin-bottom: 20px;
      }
      td {
        padding: 15px;
      }
      th {
        background: lightyellow;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <img
      style="height: 200px; width: 200px"
      src="../static/profile.jpeg"
      alt=""
    />
    <h2>Peter's webhook Dashboard</h2>

    <h3>Orders</h3>
    <table>
      <tr>
        <th>created</th>
        <th>symbol</th>
        <th>type</th>
        <th>side</th>
        <th>qty</th>
        <th>limit price</th>
        <th>filled price</th>
      </tr>
      {% for order in alpaca_orders %}
      <tr>
        <td>{{ order.created_at }}</td>
        <td>{{ order.symbol }}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.side }}</td>
        <td>{{ order.qty }}</td>
        <td>{{ order.limit_price }}</td>
        <td>{{ order.filled_avg_price }}</td>
      </tr>
      {% endfor %}
    </table>

    <h3>Positions</h3>
    <table>
      <tr>
        <th>symbol</th>
        <th>qty</th>
        <th>avg entry price</th>
        <th>market value</th>
        <th>unrealized profit/loss</th>
        <th>unrealized profit/loss %</th>
      </tr>
      {% for position in alpaca_positions %}
      <tr>
        <td>{{ position.symbol }}</td>
        <td>{{ position.qty }}</td>
        <td>{{ position.avg_entry_price }}</td>
        <td>{{ position.market_value }}</td>
        <td>{{ position.unrealized_pl }}</td>
        <td>{{ position.unrealized_plpc }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
